{{!-- {{my-component sendDataToParent=(action "receiveDataFromComponent")}} --}}

<div class="parent-container">

<div class="container">
  <h1><center>Log Collection</center></h1>
     {{#if this.isLoading}}
        {{is-loading}}
      {{/if}}
      {{#if this.isSuccess}}
        {{is-Success}}
      {{/if}}
    <div class="form-group">
      <label for="logType">Select the logs you want:</label>
        <select id="logType" onchange={{action (mut this.selectedLogType) value="target.value"}}>
                <option value="">Select Log Type</option>
                <option value="Application">Application Logs</option>
                <option value="System">System Logs</option>
       </select>
    </div>
 <div class="form-group buttons-container">
        <button class="btn" type="button" {{on "click" this.fetchLogs}}>Sync </button>
        {{!-- <button class="btn" type="button" {{on "click" (fn hi.fetchLogs)}}>Sync</button> --}}

   </div>
    

    <div class="search-bar">

     <div class="form-group">
         <p>Search with a Query: </p>
        <input type="text"  id="searchQuery"  value={{this.searchQuery}} placeholder="Search like eventcode = '16384' or eventidentifier = '1073758208'" 
             {{on "change" (action (mut this.searchQuery) value="target.value")}} {{on "input" this.handleInput}} 
             {{on "keydown" this.handleKeyDown}}  
              tabindex="0" >
             {{#if this.syntaxError}}
                <div class="suggestions-container">
                  {{#each this.syntaxErrorMessage as |token index|}}
                       <div class="suggestion-box" {{on "click" (fn this.selectSuggestion token)}}  
                       {{on "mouseenter" (fn (mut this.selectedSuggestionIndex) index)}} >
                           {{token}}
                       </div>
                  {{/each}}
                </div>
             {{/if}}
       </div>

    <div class="form-group buttons-container">
        <button class="btn" disabled={{if this.searchPerformed "disabled"}} oninput={{action (mut this.searchQuery) value="target.value"id="searchQuery" }} type="button" {{on "click" this.searchLogs}} >Search</button>
       

    </div>

    <div class="results-neededed">
      <p>No of results needed per page : </p>
         <input type="number" id="resultsPerPage" value={{this.resultsPerPage}} onchange={{action (mut this.resultsPerPage) value="target.value"}}>
    </div>  
  </div>
  <div>
</div>
</div> 


  <div class="results-Container">
  {{#if this.searchResults}}
  <div class="view-of-datas">
  <div class="table-view" {{on "click" this.switchToTableView}}>
    <img src="assets/images/table-view.png" alt="table view icon">
  </div>
  <div class="list-view" {{on "click" this.switchToListView}}>
    <img src="assets/images/list-view.png" alt="list view icon">
  </div>
</div>

  <div class = "page-container">
    <p>Page {{this.page}} of {{this.pageSize}}</p>
  </div>
    <div class="left-button" {{on "click" this.previous}}>
      <img src="assets/images/left.png" alt="left arrow">
    </div>

    {{#if this.isTableView}}
       {{table-view}}
    {{/if}}

{{#if this.isListView}}
   {{list-view}}
{{/if}}
    <div class="right-button" {{on "click" this.next}}>
      <img src="assets/images/right.png" alt="right arrow">
    </div>
    <div class="next-set-button">
<button class="btn" disabled={{unless this.moreResultsAvailable "disabled"}} type="button" {{on "click" this.nextSet}}>Need Next Set ? Click me!</button>
    </div>
  {{else}}
  {{#if this.NoResults}}
      <h3 class = "no-results"><center>No Results Available as per your Queries</center></h3>
      {{else}}
        {{query-format-container applicationtime=this.applicationLastTime systemtime=this.systemLastTime}}
  {{/if}}
  {{/if}}
</div>
</div> 



